body{
background-color: #eee;
color: #333;
font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
border: 2px solid #999;
width: 600px;
margin: auto;
border-radius: 10px; 
padding: 20px;

}

header{



}

section{



}

nav{



}

footer{



}

aside {



}